.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 130px;
  height: 20vh;
  display: flex;
  position: fixed;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  min-height: 80vh;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.loader-div {
  transition: all 1s ease-in-out;
}

.search-row {
  width: 40%;
}

.p-tags {
  display: inline;
  font-size: 18px;
  /* text-decoration: underline; */
  color: red;
  cursor: pointer;
  background: white;
  padding: 3px 12px;
  border-radius: 10px;
}

.p-head {
  display: inline;
}

.clear-tags {
  vertical-align: sub;
}

.clear-tags:hover {
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
}